<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Usuários</title>
    <link href="/static/css/style.css" rel="stylesheet" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'> 

</head>
<body>
    <main class="container">
        <form method="POST">
            <h1>Cadastro de Usuário</h1>
            <div class="input-box">
                <label for="nome">Nome:</label>
                <input placeholder="Digite seu Nome" name="nome" type="text" id="nome" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <label for="email">Email:</label>
                <input placeholder="Digite seu Email"  name="email" type="email" id="email" required>
                <i class="bx bxs-envelope"></i>
            </div>
            <br>
                <button class="login" type="submit">Cadastrar</button>
            
        </form>
    </main>
    
   
</body>
</html>